<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.application">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="Application"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:label,android:icon">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            tools:replace="android:configChanges">  <!-- Added this line to resolve the conflict -->

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                tools:replace="android:resource"/>  <!-- Added this line to resolve the conflict -->
            <meta-data
                android:name="flutterEmbedding"
                android:value="2" />
        </activity>
    </application>
</manifest>